
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/img/overview.png" class="d-block mx-lg-auto img-fluid" alt="STaaS" width="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Software transparenacy as a service</h1>
            <p class="lead">
                Quickly sign files using short-lived certificates bound to your email.
                Certificates are generated using a private instance of the
                <a class="text-decoration-none" href="https://docs.sigstore.dev/certificate_authority/overview/">Fulcio</a> CA.
                Information about generated signatures is immutably recorded in the 
                <a class="text-decoration-none" href="https://docs.sigstore.dev/logging/overview/">Rekor</a>
                public transparency registry. Generated signatures can be easily verified
                using the <a class="text-decoration-none" href="https://docs.sigstore.dev/signing/quickstart/">Cosign</a> utility.
            </p>
            <p>
                Brought to you by <a class="text-decoration-none" href="https://excid.io">ExcID</a> and <a class="text-decoration-none" href="https://guardtime.com/">Guardtime</a>
                in the context of the <a class="text-decoration-none" href="https://excid-io.github.io/discgrid/">DISCGRID</a> project.
            </p> 
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" asp-action="Index" asp-controller="Sign">Try it out</a>
            </div>
        </div>
    </div>


