<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Sign" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Token" asp-action="Index">API tokens</a></li>
        <li class="breadcrumb-item active">Delete</li>
    </ol>
</nav>
<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <div>
                <b>Note:</b> Deleted tokens are revoked.
            </div>
        </div>
        <div class="alert alert-danger text-start" role="alert">
            <h4 class="alert-heading">Warning</h4>
            <p>Deleted tokens cannot be recoverd.</p>
            <hr>
            <p class="mb-4">Are you sure you want to perform this action?</p>
            <form asp-action="Delete">
                <a class="btn btn-link" asp-action="Index" role="button">Cancel</a>
                <input type="submit" value="Yes, delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>